@font-face{
    src: url('../fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf');
    font-family: bal-sans-reg;
}

@font-face{
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-family: open-sans-reg;
}

@font-face{
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
    font-family: ubu-med;
}

@font-face{
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-family: ubu-reg;
}

@font-face{
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
    font-family: raleway-reg;
}