$clr-main:#051923;
$clr-features:rgba(46, 187, 238, 0.205);
$clr-icons:rgb(164, 230, 98);
$clr-back:rgb(245,246,251);
$clr-edit-page-main:rgb(209, 209, 255) ;


$base-pl:30px;
$base-app-padding:10px 20px
