

.MuiInputBase-root,.MuiIconButton-root,.MuiFormLabel-root, .checkbox{
    color: $clr-edit-page-main !important;
}

.MuiFormControl-root,.MuiFormControl-marginNormal,.checkbox,.MuiGrid-container{
    margin-bottom: 20px !important;
}

.MuiInput-underline:before {
    border-bottom: 2px solid $clr-features !important;
}

.checkbox{
    label{
        margin-right: 10px;
    }
}

.btn-form{
    height: 40px;
    margin-top: 40px;
    width: 50%;
    align-self: center;
    color: white;
    background-color: $clr-icons;
    border:none;
    border-radius: 20px;
    letter-spacing: 1.5px;
    box-shadow: 0 0 20px $clr-icons;
    text-shadow: 0 0 20px #33cccc;
}

