.filters-container{
    font-size: calc(13px + (26 - 13) * ((100vw - 300px) / (1600 - 300)));;
    background-color: white;
    .filter{
        width: 21vw;
        padding: 20px 0px;
        text-align: center;
    }
}